<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://qdhw.leaderhero.com/new2/20180702/PlenixClash_v9.256.8(os7.0)_180702150647_app.tongbu.com.ipa
</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>>http://d.image.i4.cn/image/icon/2018/01/24/14/380090605/1_z1516774081 11_263259.jpg</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>http://d.image.i4.cn/image/icon/2018/01/24/14/380090605/1_z1516774081911_263259.jpg</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.ea.starwarscapital.bv</string>
                <key>bundle-version</key>
                <string>0.11.1</string>
                <key>kind</key>
                <string>software</string>
                <key>subtitle</key>
                <string>来自唯的见面礼</string>
                <key>title</key>
                <string>唯钰助手</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
